@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:slnt,wght@-10..0,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

*{
padding: 0;
margin: 0;

}

.top-header{
    align-items: center;
display: flex;
justify-content: space-evenly;
height: 90px;
}

.header-logo{
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;
    color:black
}

.header-logo span {
    color: red;
}

.navs{
    display: flex;
    list-style-type: none;
}

.navs li  {
margin: 0px 20px;
font-size: 16px;
font-weight: 600;
color: #7f7f90;
font-family: "Inter", sans-serif;
cursor: pointer;
}

.navs li:hover {
border-bottom: 3px solid red;
padding-bottom: 6px;
}


.top-header button{
    background-color: #CE1313;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    padding: 8px 20px;
    margin-left: 30px;
    cursor: pointer;
}

/* hero section */

.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eeeeee;
padding: 100px 0px;


}

.hero-right-section h1{
    font-family: "Amatic SC", sans-serif;
    font-size: 64px;
    font-weight: 700;
}


     
.hero-right-section p {
    color: #4f4f5a;
    font-weight: 400;
    margin: 25px 0px;
    
}



.btn-book-table2{

    font-weight: 500;
    font-size: 14px;
    padding: 12px 36px;
    border-radius: 50px;
    background-color: #CE1313;
    color: white;
    border: none;
}

.btn-watch-video{
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin-left: 25px;
}

.active-hr-line{
    border-bottom: 3px solid red;
    padding-bottom: 6px; 
}

.btn-play-icon{
    width: 30px;
}
